numpy
zarr
opencv-python
matplotlib
tqdm
pandas
scikit-image
pickle5
dask
distributed
xmltodict
czifile
wandb
kornia
scikit-learn
segmentation-models-pytorch
torchmetrics==0.11.4
pytorch-lightning==1.7.7
histomicstk
ultralytics
imagecodecs